// It's highly recommended to change the default colors
// to match your app's branding.

@import '@/assets/scss/variables.scss';

$primary   : $blue-color;
$secondary : $light-blue-color;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : $light-border-color;
$warning   : #F2C037;
$border    : grey;

@import '~quasar-variables-styl'
